@import '/css/bulma.css';
@import 'tw-elements';

.justify-center {
    background: #000000a8;
    justify-content: space-evenly!important;
}
.justify-center a svg:hover{
    width: 50px;
    height: 50px;
}

#slide_Bg{
width: 100%;
height: 100vh;
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
backface-visibility: hidden;
animation: slideBg 16s linear infinite 0s;
animation-timing-function: ease-in-out;
background-image: url('../img/crossfit.jpg');
}
@keyframes slideBg{
    0% {
        background-image: url('../img/crossfit2.jpg');
    }

    25% {
        background-image: url('../img/crossfit.jpg');
    }

    50% {
        background-image: url('../img/crossfit14.jpg');
    }

    75% {
        background-image: url('../img/crossfit4.jpg');
    }

    100% {
        background-image: url('../img/crossfit5.jpg');
    }
}
.bg{
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    background-image: url('../img/crossfit.jpg');
}
.bg2{
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    background-image: url('../img/crossfit3.jpg');
}
.bg3{
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    background-image: url('../img/crossfit6.jpg');
    background-attachment: fixed;
}
.bg4{
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    background-image: url('../img/crossfit13.jpg');
}
.navbar .container-fluid .navbar-brand {
    padding-top: 100px;
    padding-bottom: 55px;
    margin-right: 1rem;
    margin-left: 69px;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
}
@media (min-width: 992px){
.navbar .container-fluid .navbar-brand {
    padding-top: 100px;
    padding-bottom: 79px;
    margin-right: 2rem;
    margin-left: 78px;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
}
}
.navbar-collapse {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    background-color: #000000a8;
}
.navbar-collapse .nav-link{
    height: 45px;
    text-decoration: none;
    border-radius: 12px;
    border: RGB(2 0 0/ 30%) 0px solid;
    box-sizing: border-box;
    padding: 7px 12px 13px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 31px;
    margin-right: 135px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    color: #f3c96a!important;
    display: block;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.navbar-collapse .nav-link:hover{
    background: #110b70;
    border-radius: 8px;
    
 
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: aliceblue;
}

@media (min-width: 992px){

.navbar-collapse {
        display: -webkit-box!important;
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        background-color: #000000b5;
    
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        color: aliceblue;
    }
}
.bgstretcher {
    background: black;
    overflow: hidden;
    width: 100%;
    position: fixed !important;
    z-index: 1;
    top: 0;
    left: 0;
}

section#content {
    position: relative;
    z-index: 10;
    padding: 92px 0;
    display: block;
}
.main-block {
    width: 1036px;
    margin: 0 auto;
    background: #000000b5;
    padding: 38px 0;
    padding-left: 51px;
    border-radius: 13px;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    min-height: 490px;
}
.main {
    margin: 0 auto;
    width: 940px;
    position: relative;
    background: transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: top;
}
.main h3{
    font-size: 36px;
    font-family: Impact, 'Noto Sans', sans-serif;
    padding-bottom: 46px;
    color: #F18812;
    position: relative;
    line-height: 1em;
    font-weight: normal;
}
h97 {
    font-size: 16px;
    line-height: 18px;
    color: #f3c96a;
    font-family: Verdana, "Times New Roman", Times, serif;
    position: relative;
    font-weight: normal;
}
h97 p{
        color: #f3c96a;
        padding-bottom: 19px;
    }
    .list {
        padding: 0 0 27px;
        text-align: justify;
    }
    .list li {
        margin-bottom: 2px;
        line-height: 16px;
    }
    .block {
        position: relative;
        z-index: 100;
    }
    footer {
        display: block;
        width: 100%;
        padding: 12px 0;
        position: relative;
        overflow: hidden;
        background: #000000b5;
    }
    .aligncenter {
        text-align: center;
    }
    footer .main{
        margin: 0 auto;
        width: 940px;
        position: relative;
        
    }
    .privacy {
        color: #f3c96a;
        font-size: 12px;
        line-height: 20px;
    }
    .card-img, .card-img-top {
        border-top-left-radius: calc(0.25rem - 1px);
        border-top-right-radius: calc(0.25rem - 1px);
        max-width: 50%;
    }
    
    @media (min-width: 2100px){
    .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}}
