body {
    background: #040404ed;
    color: #777;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.9;
    margin: 0;
    min-height: 100%;
    padding: 0;
    word-wrap: break-word;
}
@font-face {
    font-family: Crossfit;
    src: url(Capture.ttf);
}
.justify-center {
    background: #000000a8;
    justify-content: space-evenly!important;
}
.justify-center a svg:hover{
    width: 50px;
    height: 50px;
}

#slide_Bg{
width: 100%;
height: 100vh;
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
backface-visibility: hidden;
animation: slideBg 16s linear infinite 0s;
animation-timing-function: ease-in-out;
background-image: url('../img/crossfit.jpg');
}
@keyframes slideBg{
    0% {
        background-image: url('../img/crossfit2.jpg');
    }

    25% {
        background-image: url('../img/crossfit.jpg');
    }

    50% {
        background-image: url('../img/crossfit14.jpg');
    }

    75% {
        background-image: url('../img/crossfit4.jpg');
    }

    100% {
        background-image: url('../img/crossfit5.jpg');
    }
}
.bg{
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    background-image: url('../img/crossfit.jpg');
}
.bg2{
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    background-image: url('../img/crossfit3.jpg');
}
.bg3{
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    background-image: url('../img/crossfit6.jpg');
    background-attachment: fixed;
}
.bg4{
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    background-image: url('../img/crossfit13.jpg');
}
.navbar .container-fluid .navbar-brand {
    padding-top: 100px;
    padding-bottom: 55px;
    margin-right: 1rem;
    margin-left: 69px;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
}

@media (min-width: 1200px){
.navbar .container-fluid .navbar-brand {
    padding-top: 100px;
    padding-bottom: 179px;
    margin-right: 2rem;
    margin-left: -5px;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
}
.navbar-collapse {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    background-color: #000000a8;
    margin-left: 41px;
}
}
.navbar-collapse {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    background-color: #000000a8;
}
.navbar-collapse .nav-link{
    height: 45px;
    text-decoration: none;
    border-radius: 12px;
    border: RGB(2 0 0/ 30%) 0px solid;
    box-sizing: border-box;
    padding: 7px 12px 13px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 31px;
    margin-right: 135px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    color: #f3c96a!important;
    display: block;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.navbar-collapse .nav-link:hover{
    background: #110b70;
    border-radius: 8px;
    
 
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: aliceblue;
}

@media (min-width: 992px){
    .col-lg-4 {
        flex: 0 0 auto;
        width: 100% !important;
    }
.navbar-collapse {
        display: -webkit-box!important;
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        background-color: #000000b5;
    
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        color: aliceblue;
    }
}
.bgstretcher {
    background: black;
    overflow: hidden;
    width: 100%;
    position: fixed !important;
    z-index: 1;
    top: 0;
    left: 0;
}
.pt-6 {
    padding-top: 1.5rem;
    margin-left: -400px;
}
.bg-white {
    --tw-bg-opacity: 1;
    --bs-bg-opacity: 1;
    background-color: #000000eb !important;
    background-color: rgba(var(--bs-white-rgb),var(--bs-bg-opacity));
}
.text-gray-900 {
    --tw-text-opacity: 1;
    font-weight: 700 !important;
    color: #f3c96a !important;
}
section#content {
    position: relative;
    z-index: 10;
    padding: 92px 0;
    display: block;
}
.main-block {
    width: 1036px;
    margin: 0 auto;
    background: #000000b5;
    padding: 38px 0;
    padding-left: 51px;
    border-radius: 13px;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    min-height: 490px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    margin: 15px !important;
    background-color: #f3e26ad6 !important;
    background-clip: border-box;
    border-radius: 0.25rem;
    margin-bottom: 10px;
}
.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    margin-right: 462px;
}
.main {
    margin: 0 auto;
    width: 940px;
    position: relative;
    background: transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: top;
}
.main h3{
    font-size: 36px;
    font-family: Impact, 'Noto Sans', sans-serif;
    padding-bottom: 46px;
    color: #F18812;
    position: relative;
    line-height: 1em;
    font-weight: normal;
}
h97 {
    font-size: 16px;
    line-height: 18px;
    color: #f3c96a;
    font-family: Verdana, "Times New Roman", Times, serif;
    position: relative;
    font-weight: normal;
}
h97 p{
        color: #f3c96a;
        padding-bottom: 19px;
    }
    .list {
        padding: 0 0 27px;
        text-align: justify;
    }
    .list li {
        margin-bottom: 2px;
        line-height: 16px;
    }
    .block {
        position: relative;
        z-index: 100;
    }
    footer {
        display: block;
        width: 100%;
        padding: 12px 0;
        position: relative;
        overflow: hidden;
        background: #000000b5;
    }
    .aligncenter {
        text-align: center;
    }
    footer .main{
        margin: 0 auto;
        width: 940px;
        position: relative;
        
    }
    .privacy {
        color: #f3c96a;
        font-size: 12px;
        line-height: 20px;
    }
    .card-img, .card-img-top {
        border-top-left-radius: calc(0.25rem - 1px);
        border-top-right-radius: calc(0.25rem - 1px);
        max-width: 50%;
    }
    .card-img, .card-img-bottom, .card-img-top {
        width: 100%;
        margin-left: 15px;
    }
    
    @media (min-width: 2100px){
    .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}}
#carroo {
    font-family: "Font Awesome 6 Free";
    font-size: xxx-large;
    color: #d35206;
    padding-right: 10px;
}

#boton-carrito {
    border: none;
    color: #d9c539;
    font-size: 40px;
    border-radius: 50%;
    transition: all .3s;
    margin-left: 252px;
}
#boton-carrito:hover {
    cursor: pointer;
    color: #e7e1e1e0;
    background-color: #dd8a0de0;
}
#boton-carrito:focus {
    outline: none;
}

#contenedor-productos {
    max-width: 1200px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

p {
    line-height: 1.8;
}
.producto {
    max-width: 250px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
}
.precioProducto {
    font-weight: 700;
}
.boton-agregar {
    background-color: royalblue;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
    border: none;
}
.boton-agregar:hover {
    cursor: pointer;
}
.boton-agregar:focus {
    outline: none;
}

.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;
}

.modal-carrito {
    position: relative;
    background-color: #f3e26ad6 !important;
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    color: #d12800;
    padding-bottom: 26px;
    font-size: x-large;
}
.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    border: none;
    background-color: grey;
    color: #d12800;
}
.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
    outline: none;
}
.modal-carrito .precioProducto {
    padding-top: 10px;
    
}

.productoEnCarrito {
    border-left: 5px solid #d12800;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}
.productoEnCarrito:hover {
    border-left: 5px solid royalblue;
}

.boton-eliminar {
    background-color: #efe800;
    color: red;
    font-size: 20px;
    border-style: double !important;
    border-color: black !important;
}

.boton-eliminar:hover {
    cursor: pointer;
}
.boton-eliminar:focus {
    outline: none;
}
.btn-primary {
    color: #fff!important;
    background-color: #f95415!important;
    border-color: #d12800!important;
}
#vaciarCarrito:hover{
    color: #efe800;
    background-color: red;
    font-size: 20px;
    border-color: black !important
}
#gkBg {
    background: #fff0 !important;
    margin: 0px auto;
    margin-top: -58px !important;
    max-width: 1600px;
    width: 100%;
}
.frontpage.dark-bottom #gkPageContent {
    background-size: auto auto;
    padding: 0 0 520px 0;
    position: relative;
}
.frontpage #gkDarkBottom:before {
    height: 200px;
    top: -100px;
    -webkit-transform: skewY(8deg);
    -moz-transform: skewY(8deg);
    -ms-transform: skewY(8deg);
    -o-transform: skewY(8deg);
    transform: skewY(8deg);
}
#gkPageContent {
    background: #000000f2;
    position: relative;
    padding: 2px;
    transform: skewY(-5deg);
    height: 345px;
    width: 101%;
}
.frontpage.dark-bottom #gkPageContent > .gkPage {
    position: relative;
    z-index: 1;
}
.frontpage.dark-bottom #gkDarkBottom {
    background: #1e1e1e url(https://crossfitntr.com/templates/gk_musicstate/images/common/dark_bottom_bg.jpg) no-repeat center center !important;
    bottom: -450px;
    height: 1000px;
    position: absolute;
    width: 100%;
    z-index: 0;
}
@media (max-width: 1200px) {
.gkPage {
    padding: 0 10px;
}}
.gkPage {
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto!important;
    padding-top: 112px;

}

#gkContent, #gkPageContent {
    width: 100%;
}
#gkContentWrap {
    width: 100%;
}
#gkContentWrap {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
}
#gkTop2 {
    overflow: hidden;
}
#gkTop2, #gkBottom1, #gkBottom2 {
    clear: both;
}
.box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    color: #888;
    font-size: 14px;
    line-height: 1.6;
    margin: 0 0 20px 0;
    padding: 0;
    width: 100%;
}
div.content {
    clear: both;
    margin-top: 28px;
    margin-bottom: -21px;
}
.gkTitle, h3.header, #gkHeaderMod h1 {
    font-family: capture-it, Arial, sans-serif;
    color: #f1862b !important;
}
small{
    color: #f3c96a !important;
}
.tcenter {
    text-align: center;
}
small {
    font-size: 100% !important;
}
#gkMainbody {
    margin-bottom: 70px;
}
.frontpage .blog-featured {
    margin-top: -100px;
}
#gkMainbody .gkSectionNav {
    bottom: -100px;
}a:hover, a:active, a:focus, #gkMainbody div.tags a:hover, #gkMainbody a, #gkMainbody header h1 a:active, #gkMainbody header h1 a:focus, #gkMainbody header h1 a:hover, #gkMainbody header h2 a:active, #gkMainbody header h2 a:focus, #gkMainbody header h2 a:hover, #k2Container article header h2 a:active, #k2Container article header h2 a:focus, #k2Container article header h2 a:hover, #gkSidebar .box a:hover, #eb .eb-post-head a:hover, #eb .eb-tags .cell-tags a:hover, #eb .eb-showcase-content a:hover, #eb .eb-entry-head a:hover, #eb .eb-entry-author-bio h3 a:hover, #eb .eb-related-title a:hover {
    color: #7db61c;
}body[data-desktop="true"] #gkBottomSection, body[data-desktop="true"].frontpage #gkBottom3, body[data-desktop="true"].frontpage #gkDarkBottom {
    background-attachment: fixed!important;
}
.frontpage.dark-bottom #gkDarkBottom {
    background: #1e1e1e url(../images/common/dark_bottom_bg.jpg) no-repeat center center;
    bottom: -450px;
    height: 1000px;
    position: absolute;
    width: 100%;
    z-index: 0;
}
.frontpage.dark-bottom .gkDarkBottom + #gkBottom1 {
    margin-top: -200px;
    padding: 0 0 120px 0;
    position: relative;
    z-index: 1;
}
#gkBottom1, #gkBottom2, #gkBottom3, #gkBottom4 {
    padding: 70px 0;
    overflow: hidden;
    clear: both;
}
.frontpage #gkBottom1 .gkPage, .frontpage #gkBottom2 .gkPage, .frontpage #gkBottom3 .gkPage, .frontpage #gkBottom4 .gkPage {
    max-width: 100%;
}
@media(max-width: 1200px){
.gkPage {
    padding: 0 10px;
}}
.gkPage {
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto!important;
}
#gkBottom1 .box.normal-width, #gkBottom2 .box.normal-width, #gkBottom3 .box.normal-width, #gkBottom4 .box.normal-width {
    max-width: 1200px;
}
#gkBottom1 .box.normal-width, #gkBottom2 .box.normal-width, #gkBottom3 .box.normal-width, #gkBottom4 .box.normal-width {
    margin: 0 auto;
    float: none;
    width: 100%;
    background-color: #363434;
}
div.content {
    clear: both;
    margin-top: 15px;
}
.box.white {
    color: #fff!important;
}
.box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    color: #888;
    font-size: 14px;
    line-height: 1.6;
    margin: 0 0 20px 0;
    padding: 0;
    width: 100%;
}
@font-face {
    font-family: Crossfit;
    src: url(Capture.ttf);
}
.gkTitle {
    font-size: 60px;
    line-height: 1;
    font-weight: normal;
    margin: 0;
    text-align: center;
    font-family: Crossfit, Arial, sans-serif;
    text-transform: uppercase;
}
.box.white .gkSubtitle {
    color: #fff;
}
.gkSubtitle {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin: 0 0 30px 0;
    text-align: center;
    text-transform: none;
    color: #f1862b;
}
.box.white .gkSubtitle {
    color:  #f3c96a !important;
}
.box.white .header, .box.white .gkTitle, .box.white .gkSubtitle {
        color: #fff;
        transform: skewY(2deg);
        padding-top: 40px;
    }
    .gk-special-content {
        background-color: rgb(0 0 0 / 75%);
        padding: 2px;
        margin-top: 213px;
        margin-left: -10px;
        margin-bottom: -107px;
        padding-top: 31px;
        transform: skewY(-4deg);
        height: 637px;
        width: 102%;
        top: 293px;
    }
.demo-typo-col2 {
    float: left;
    width: 50%;
}
.demo-typo_padd {
    padding: 0 15px;
}
p.numblocks {
    margin: 0 0 24px;
    min-height: 48px;
    padding: 0 0 0 82px !important;
    position: relative;
}
p.num-3 span {
    color: #f1862b !important;
    border-color: #f1862b !important;
}
p.numblocks span {
    border-right: 2px solid #ccc;
    display: block;
    font-size: 24px;
    font-weight: 500;
    height: 36px;
    left: 0;
    line-height: 36px;
    position: absolute;
    top: 4px;
    width: 48px;
}
small {
    font-size: 75%;
}
.demo-typo-col2 {
    float: left;
    width: 50%;
}
.demo-typo_padd {
    padding: 0 15px;
}
