.justify-center {
    background: #000000a8;
    justify-content: space-evenly!important;
}
.justify-center a svg:hover{
    width: 50px;
    height: 50px;
}

#slide_Bg{
width: 100%;
height: 100vh;
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
backface-visibility: hidden;
animation: slideBg 16s linear infinite 0s;
animation-timing-function: ease-in-out;
background-image: url('../img/crossfit.jpg');
}
@keyframes slideBg{
    0% {
        background-image: url('../img/crossfit2.jpg');
    }

    25% {
        background-image: url('../img/crossfit.jpg');
    }

    50% {
        background-image: url('../img/crossfit14.jpg');
    }

    75% {
        background-image: url('../img/crossfit4.jpg');
    }

    100% {
        background-image: url('../img/crossfit5.jpg');
    }
}
.bg{
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    background-image: url('../img/crossfit.jpg');
}
.bg2{
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    background-image: url('../img/crossfit3.jpg');
}
.bg3{
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    background-image: url('../img/crossfit6.jpg');
    background-attachment: fixed;
}
.bg4{
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    background-image: url('../img/crossfit13.jpg');
}
.navbar .container-fluid .navbar-brand {
    padding-top: 100px;
    padding-bottom: 55px;
    margin-right: 1rem;
    margin-left: 69px;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
}
@media (min-width: 992px){
.navbar .container-fluid .navbar-brand {
    padding-top: 100px;
    padding-bottom: 79px;
    margin-right: 2rem;
    margin-left: 78px;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
}
}
.navbar-collapse {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    background-color: #000000a8;
}
.navbar-collapse .nav-link{
    height: 45px;
    text-decoration: none;
    border-radius: 12px;
    border: RGB(2 0 0/ 30%) 0px solid;
    box-sizing: border-box;
    padding: 7px 12px 13px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 31px;
    margin-right: 135px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    color: #f3c96a!important;
    display: block;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.navbar-collapse .nav-link:hover{
    background: #110b70;
    border-radius: 8px;
    
 
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: aliceblue;
}

@media (min-width: 992px){

.navbar-collapse {
        display: -webkit-box!important;
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        background-color: #000000b5;
    
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        color: aliceblue;
    }
}
.bgstretcher {
    background: black;
    overflow: hidden;
    width: 100%;
    position: fixed !important;
    z-index: 1;
    top: 0;
    left: 0;
}

section#content {
    position: relative;
    z-index: 10;
    padding: 92px 0;
    display: block;
}
.main-block {
    width: 1036px;
    margin: 0 auto;
    background: #000000b5;
    padding: 38px 0;
    padding-left: 51px;
    border-radius: 13px;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    min-height: 490px;
}
.main {
    margin: 0 auto;
    width: 940px;
    position: relative;
    background: transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: top;
}
.main h3{
    font-size: 36px;
    font-family: Impact, 'Noto Sans', sans-serif;
    padding-bottom: 46px;
    color: #F18812;
    position: relative;
    line-height: 1em;
    font-weight: normal;
}
h97 {
    font-size: 16px;
    line-height: 18px;
    color: #f3c96a;
    font-family: Verdana, "Times New Roman", Times, serif;
    position: relative;
    font-weight: normal;
}
h97 p{
        color: #f3c96a;
        padding-bottom: 19px;
    }
    .list {
        padding: 0 0 27px;
        text-align: justify;
    }
    .list li {
        margin-bottom: 2px;
        line-height: 16px;
    }
    .block {
        position: relative;
        z-index: 100;
    }
    footer {
        display: block;
        width: 100%;
        padding: 12px 0;
        position: relative;
        overflow: hidden;
        background: #000000b5;
    }
    .aligncenter {
        text-align: center;
    }
    footer .main{
        margin: 0 auto;
        width: 940px;
        position: relative;
        
    }
    .privacy {
        color: #f3c96a;
        font-size: 12px;
        line-height: 20px;
    }
    .card-img, .card-img-top {
        border-top-left-radius: calc(0.25rem - 1px);
        border-top-right-radius: calc(0.25rem - 1px);
        max-width: 50%;
    }
    
    @media (min-width: 2100px){
    .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}}
#carroo {
    font-family: "Font Awesome 6 Free";
    font-weight: 1000;
    margin-left: 300px;
    font-size: xxx-large;
    color: rgb(13 188 240);
}
/* .modal-contenedor{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    transition: .3s all ease-in-out;
}
.modal-carrito{
    background-color: #fff;
    width: 320px;
    min-height: 300px;
    border-radius: 20px;
    padding: 20px;
}
.modal-contenedor-visible{
    opacity: 1;
    visibility: visible;
} */
#boton-carrito {
    border: none;
    color: royalblue;
    font-size: 40px;
    background-color: white;
    border-radius: 50%;
    transition: all .3s;
}
#boton-carrito:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(58, 61, 70);
}
#boton-carrito:focus {
    outline: none;
}

#contenedor-productos {
    max-width: 1200px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

p {
    line-height: 1.8;
}
.producto {
    max-width: 250px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
}
.precioProducto {
    font-weight: 700;
}
.boton-agregar {
    background-color: royalblue;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
    border: none;
}
.boton-agregar:hover {
    cursor: pointer;
}
.boton-agregar:focus {
    outline: none;
}

.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;
}

.modal-carrito {
    position: relative;
    background-color: white;
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    color: royalblue;
    padding-bottom: 5px;
}
.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: royalblue;
    border: none;
    background-color: white;
}
.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
    outline: none;
}
.modal-carrito .precioProducto {
    padding-top: 10px;
    
}

.productoEnCarrito {
    border-left: 5px solid lightblue;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}
.productoEnCarrito:hover {
    border-left: 5px solid royalblue;
}

.boton-eliminar {
    background-color: white;
    color: red;
    border: none;
    font-size: 20px;
}

.boton-eliminar:hover {
    cursor: pointer;
}
.boton-eliminar:focus {
    outline: none;
}